<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ldxx.xxbase.demo" >

    <!-- 请求网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 读写sd卡权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".app.XXDemoApplication"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.WelcomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.DemoBActivity"
            android:label="@string/title_activity_demo_b" />
        <activity
            android:name="com.ldxx.xxbase.MainActivity"
            android:label="@string/title_activity_demo_main" />

        <service
            android:name=".service.LoadDataIntentService"
            android:exported="false" />

        <activity
            android:name=".activity.DemoMainActivity"
            android:label="@string/title_activity_welcome" />
        <activity android:name=".activity.DemoAppBarLayoutActivity" />
        <activity android:name=".activity.DemoTextInputLayoutActivity" />
        <activity
            android:name=".activity.DemoCustomViewActivity"
            android:label="@string/title_activity_demo_custom_view" />
        <activity
            android:name=".activity.RecyclerViewActivity"
            android:label="@string/title_activity_recycler_view" />
        <activity
            android:name=".activity.ListFilterActivity"
            android:label="@string/list_view_filter" />
        <activity
            android:name=".activity.ResumeTest1Activity"
            android:label="@string/title_activity_resume_test1" >
        </activity>
        <activity
            android:name=".activity.ResumeTest2Activity"
            android:label="@string/title_activity_resume_test2" >
        </activity>
    </application>

</manifest>
